<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Book</title>
  <link rel="stylesheet" th:href="@{/style/edit.css}" />
</head>
<body>

<h2>Edit Book</h2>

<form method="post" enctype="multipart/form-data" th:object="${book}" th:action="@{/books/edit/{id}(id=${book.id})}">
  <label>Title: <input type="text" th:field="*{title}" required/></label><br/>
  <label>Price: <input type="text" th:field="*{price}" required/></label><br/>
  <label>Description: <textarea th:field="*{description}" required></textarea></label><br/>
  <label>Publisher:
    <select th:field="*{publisher}" required>
      <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}" th:selected="${publisher.id eq book.publisher.id}"></option>
    </select>
  </label>
  <br/>
  <label>Image: <input type="file" name="imageFile" accept=".jpg, .jpeg, .png" required/></label><br/>
  <input type="submit" value="Update Book"/>
</form>
<br/>
<a th:href="@{/templates/books}">Back to Book List</a>
</body>
</html>
