<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style/style.css}" />
</head>
<body>

<h2>Book List</h2>
<form class="form-inline mb-3" th:action="@{/books/search}" method="get" onsubmit="return validateSearchForm()">
    <input type="text" class="form-control mr-2" name="title" placeholder="Search by title" th:value="${searchTitle}"/>
    <input type="text" class="form-control mr-2" name="price" placeholder="Search by price" th:value="${searchPrice}"/>
    <input type="text" class="form-control mr-2" name="publisher" placeholder="Search by publisher" th:value="${searchPublisher}"/>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Publisher</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.description}"></td>
        <td>
            <a th:href="@{/publishers/publisherDetails/{id}(id=${book.publisher.id})}">
                <span th:text="${book.publisher.name}"></span>
            </a>
        </td>
        <td>
            <img th:src="${book.imageUrl}" th:alt="${book.title}" style="height: 100px ;width: 100px" />
        </td>
        <td>
            <a th:href="@{/books/edit/{id}(id=${book.id})}">Edit</a> |
            <a th:href="@{/books/delete/{id}(id=${book.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
</table>

<div class="pagination">
    <ul>
        <li th:class="${currentPage == 0} ? 'disabled' : ''">
            <a th:href="@{/books(page=0)}">&lt;&lt;</a>
        </li>
        <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" th:class="${pageNumber == currentPage} ? 'active' : ''">
            <a th:href="@{/books(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
        </li>
        <li th:class="${currentPage == totalPages - 1} ? 'disabled' : ''">
            <a th:href="@{/books(page=${currentPage + 1})}">&gt;&gt;</a>
        </li>
    </ul>
</div>
<!--<ul>-->
<!--    <li th:if="${currentPage > 0}">-->
<!--        <a th:href="@{/publishers(page=${currentPage - 1})}">&lt;&lt;</a>-->
<!--    </li>-->
<!--    <li th:each="p, stat : ${#numbers.sequence(0, totalPages - 1)}" th:class="${currentPage == stat.index} ? 'active' : ''">-->
<!--        <a th:href="@{/publishers(page=${stat.index})}" th:text="${stat.index + 1}"></a>-->
<!--    </li>-->
<!--    <li th:if="${currentPage < totalPages - 1}">-->
<!--        <a th:href="@{/publishers(page=${currentPage + 1})}">&gt;&gt;</a>-->
<!--    </li>-->
<!--</ul>-->
<script>
    function validateSearchForm() {
        var priceInput = document.getElementsByName("price")[0].value;
        // Kiểm tra xem giá trị có phải là số không
        if (isNaN(priceInput)) {
            alert("Price must be a number.");
            return false; // Ngăn chặn gửi form nếu giá trị không phải là số
        }
        return true; // Cho phép gửi form nếu giá trị là số
    }
</script>

<a th:href="@{/books/add}">Add New Book</a>

</body>
</html>