<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style/style.css}" />
</head>
<body>

<h2>Book List</h2>
<div >
    <form action="@{/books/search}" method="get">
        <input type="text" name="keyword" placeholder="Search by title"/>
        <button type="submit">Search</button>
    </form>
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Publisher</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.description}"></td>
        <td th:text="${book.publisher.name}"></td>
        <td>
            <img th:src="${book.imageUrl}" th:alt="${book.title}" style="height: 100px ;width: 100px" />
        </td>
        <td>
            <a th:href="@{/books/edit/{id}(id=${book.id})}">Edit</a> |
            <a th:href="@{/books/delete/{id}(id=${book.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
</table>

<div class="pagination">
    <ul>
        <li th:class="${currentPage == 0} ? 'disabled' : ''">
            <a th:href="@{/books(page=0)}">&lt;&lt;</a>
        </li>
        <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" th:class="${pageNumber == currentPage} ? 'active' : ''">
            <a th:href="@{/books(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
        </li>
        <li th:class="${currentPage == totalPages - 1} ? 'disabled' : ''">
            <a th:href="@{/books(page=${totalPages - 1})}">&gt;&gt;</a>
        </li>
    </ul>
</div>

<a th:href="@{/books/add}">Add New Book</a>

</body>
</html>