<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h2>Book List</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Publisher</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.description}"></td>
        <td th:text="${book.publisher.name}"></td>
        <td>
            <img th:src="${book.imageUrl}" alt="Book Image" style="max-width: 100px; max-height: 100px;"/>
        </td>
        <td>
            <a th:href="@{/templates/books/edit/{id}(id=${book.id})}">Edit</a> |
            <a th:href="@{/templates/books/delete/{id}(id=${book.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="pagination">
    <ul>
        <li th:if="${books.hasPrevious()}">
            <a th:href="@{/books(page=${books.previousPageable().pageNumber})}">&lt;&lt; Previous</a>
        </li>
        <li th:each="i : ${#numbers.sequence(0, books.totalPages - 1)}" th:class="${i == books.number ? 'active' : ''}">
            <a th:href="@{/books(page=${i})}" th:text="${i + 1}">1</a>
        </li>
        <li th:if="${books.hasNext()}">
            <a th:href="@{/books(page=${books.nextPageable().pageNumber})}">Next &gt;&gt;</a>
        </li>
    </ul>
</div>

<a th:href="@{/templates/books/add}">Add New Book</a>
</body>
</html>