<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<h2>Edit Book</h2>

<a th:href="@{/books}">Back to Book List</a>

<form th:action="@{'/books/edit/' + ${book.id}}" th:object="${book}" th:method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}" />
    <label>Title: <input type="text" th:field="*{title}" required /></label><br/>
    <label>Price: <input type="text" th:field="*{price}" required /></label><br/>
    <label>Description: <textarea th:field="*{description}" required></textarea></label><br/>
    <label>Publisher: <input type="text" th:field="*{publisher}" required /></label><br/>
    <label>Image: <input type="file" name="file" accept=".jpg, .jpeg, .png" /></label><br/>
    <input type="submit" value="Save Changes"/>
</form>
</body>
</html>