<!-- src/main/resources/templates/publishers/edit.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Publisher</title>
    <link rel="stylesheet" type="text/css" href="/style/edit-publishers.css">
</head>
<body>
<h2>Edit Publisher</h2>
<form th:object="${publisher}" th:action="@{/publishers/create}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" />
    <br>
    <input type="submit" value="Save">
</form>
<div>
    <a th:href="@{/publishers}">Back to List</a>
</div>
</body>
</html>
