body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
    display: flex;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
}

li.current a {
    background-color: #4CAF50;
    color: white;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #4CAF50;
}